<%- include ('../partials/header') %> 
<div id="container">
  <h1>To-Do List <i class="fa fa-plus"></i></h1>
  <form action="/lists" method="POST">  
    <input name="todo" id="todo" type="text" placeholder="Add New Todo">
  </form>

  <ul>
    <% lists.forEach(function(list){ %>

                            <% if(list.status){ %>
                            <form action="/lists/<%=list._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
                              <button class = "btn-small btn-primary" style="float: right;">Mark UnDone?</button>
                              </form>
                            <li class="td completed">
                            <form action="/lists/<%=list._id%>?_method=DELETE" method="POST">
                              <button class = "btn-large"><i class="fa fa-trash"></i></button>
                              <%= list.todo %>
                              </form>
                            </li>
                            <% }else{ %>
                            <form action="/lists/<%=list._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
                              <button class = "btn-small btn-primary" style="float: right;">Mark As Done?</button>
                              </form>
                            <li class="td ">
                            <form action="/lists/<%=list._id%>?_method=DELETE" method="POST">
                              <button class = "btn-large"><i class="fa fa-trash"></i></button>
                              <%= list.todo %>
                              </form>
                            </li>
                            <% } %>
    <% }); %>
  </ul>
</div>

<script type="text/javascript" src="/assests/js/todos.js"></script>
<%- include ('../partials/footer') %> 